ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;    
  background-color: red;
  gap: 20px;
}

li a {
  display: block;        
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration-thickness: inherit;
  font: bold;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  background-color: blue;
}